<fieldset>
  <label for="radio-info">Info</label>
  <input type="radio" name="radio-view-type" id="radio-info">
  <label for="radio-stats">Stats</label>
  <input type="radio" name="radio-view-type" id="radio-stats">
  <label for="radio-attributes">Actual Ratings</label>
  <input type="radio" name="radio-view-type" id="radio-attributes" checked>
  <label for="radio-potentials">Potential Ratings</label>
  <input type="radio" name="radio-view-type" id="radio-potentials">
</fieldset>
