<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<h1>Editing Team</h1>

<%= render 'editForm' %>

<%= link_to 'Back', 'javascript:history.go(-1);' %>
