<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<h1>New Team</h1>

<%= render 'form' %>

<%= link_to "Randomize", "/teams/new", method: :get %> |

<%= link_to 'Back', 'javascript:history.go(-1);' %>

<style>
.new_team_link {
  pointer-events: none;
  opacity: 0.5;
}
</style>
