<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<% provide(:title, @user.name) %>
<div class="app_text_main row container-fluid">
  <h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
  </h1>
</div>

<style>

.profile_link {
  pointer-events: none;
  opacity: 0.5;
}
</style>
