<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<% provide(:title, @user.name) %>
<div class="app_text_main row container-fluid">
  <h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
  </h1>
</div>


<span class="app_text_main">
  <h3>Team:</h3>
  <% if @user.team %>
<%= link_to @user.team.full_name, @user.team, method: :get %>
<% else %>
No teams yet! Click <%= link_to 'here', teams_path, method: :get %> to view all teams!
<% end %>
</span>

<style>

.profile_link {
  pointer-events: none;
  opacity: 0.5;
}
</style>
