<div class="center jumbotron">
  <h1>Home</h1>
  <h2>This is the home page</h2>
  <%= link_to "Sign up now!", "/users/new", class: "sign-up btn btn-sm btn-primary" %>
</div>

<style>
.jumbotron {
  background-color: #cee0f2;
  padding: 10px;
}
.sign-up {
  background-color: white;
  color: darkblue;
}
</style>
