<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<h1>Editing Game</h1>

<%= render 'form' %>

<%= link_to 'Show', @game, method: :get %> |
<%= link_to 'Back', games_path, method: :get %>
