<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<h1>New Player</h1>

<%= render 'form' %>
<%= link_to "Randomize", "/players/new", method: :get %> |
<%= link_to 'Back', players_path %>

<style>
.new_player_link {
  pointer-events: none;
  opacity: 0.5;
}
</style>
