/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require jquery-ui/slider
 *= require_tree .
 *= require_self
 */

#app_body {
  background-color: #F2F9FF;
}

.table-striped>tbody>tr:nth-child(even)>td {
  background-color: #BDCCDB;
}

.table-striped>thead>tr>th  {
  background-color: #9AB2CB;
}

.enMoney::before {
  content: "$";
}

.negMoney {
  color: red;
}

.table_with_custom_border {
  border-collapse: separate;
  border: 8px solid #54708C;
  border-radius: 5px;
  padding: 5px;
}

.table_with_custom_border td {
  padding: 5px;
}

.table_with_custom_border thead > tr > th {
  padding: 6px;
  background-color: #d1e2f2;
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  padding-right: 18px;
}

.table_with_custom_border thead > tr > th:last-child {
  border-right: 1px solid #999999;
}

/*nav#main_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav#main_nav li {
  float: left;
  border-right: 1px solid #bbb;
}

nav#main_nav li:last-child {
  border-right: none;
}

nav#main_nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav#main_nav li a:not(.active):hover {
  background-color: #494B50;
}*/

/*.active {
  background-color: #3D475C;
}*/

/*.active:hover {
  background-color: #3D475C;
}*/

a:hover {
  background-color: inherit;
}
