<!DOCTYPE html>
<html>
<head>
  <title>AddBaseballApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
<body>

<nav id='main_nav'>
  <ul>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/players">Players</a></li>
  </ul>
</nav>

<script>

  $(document).ready(function() {
    setNavigation();
  });

  function setNavigation() {
    var path = $(location).attr('pathname');
    $("nav#main_nav a").each(function() {
      var href = $(this).attr('href');
      if (path == href) {
        $(this).addClass('active');
      }
    });
  }

</script>

<%= yield %>

</body>
</html>
